.contact{
    background-color: #E5721D;
}
.contact .text h1{
    color: white;
}
form input, select{
    border: 1px solid white;
    background: transparent;
    color: white;
    padding: 7px 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

form select option{
    color: black;
}
::placeholder{
    color: white;
}

.contact form button{
    background-color: #E5721D;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.contact form button:hover{
    color: #E5721D;
    background-color: white;
}
@media screen and (max-width:1200px) {
    .text {
        padding-bottom: 200px;
    }
}